```javascript


const {importer} = require('@pigalle/core.importer')

// Load an existing Pigalle plugin
const tcpTransporter = importer('@pigalle/transporter.tcp')

// Load an non-existent plugin
const nonExistentPlugin = importer('heurk') // ... throw a {PluginNotFoundError} exception.

// Load an existent module, but not a valid Pigalle plugin
const notValidPlugin = importer('uuid') // ... throw a {NotValidPluginError} exception.

```
